<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note list</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.title}"></td>
        <td>
            <span th:text="${note.content}"></span>
            <a th:href="'/note/delete?id=' + ${note.id}"
               class="btn btn-sm btn-outline-danger">Delete</a>
            <a th:href="'/note/update?id=' + ${note.id}"
               class="btn btn-sm btn-outline-success">Edit note</a>
        </td>
    </tr>

    </tbody>
</table>



</body>
</html>